<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Sign In form</title>
</head>
<body>
<form action="#" th:action="@{/check}" th:object="${signIn}" method="post">
    <table>
        <tr>
            <td>FirstName</td>
            <td><input type="text" th:field="*{firstName}"/></td>
            <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</td>
        </tr>
        <tr>
            <td>LastName</td>
            <td><input type="text" th:field="*{lastName}"/></td>
            <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</td>
        </tr>
        <tr>
            <td>PhoneNumber</td>
            <td><input type="text" th:field="*{phoneNumber}"/></td>
            <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone Error</td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="number" th:field="*{age}"/></td>
            <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" th:field="*{email}"/></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
        </tr>
    </table>
    <button type="submit">submit</button>
</form>
</body>
</html>